<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {border: 1px solid black}
        table tr {border: 1px solid black}
        table tr td{border: 1px solid black}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>회원가입</h1>
    <form>
    <table>
        <tr>
            <td>ID </td>
            <td><input id="userid" type="text"></td>
        </tr>
        <tr>
            <td>PW</td>
            <td><input id='password' type="text"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input id='name' type="text"></td>
        </tr>
        <tr>
            
            <td colspan=2>
                <button id='join-btn'>회원가입</button>
                <button id='cancel-btn'>취소</button>
            </td>
        </tr>
    </table>
    </form>
    <script>
        document.getElementById('join-btn')
        .addEventListener('click', e => {
            e.preventDefault()
            alert('회원가입 클릭')
            $.ajax({
                url: '/users',
                type: 'POST',
                data : JSON.stringify({userid: document.getElementById('userid').value,
                                       password: document.getElementById('password').value, 
                                       name: document.getElementById('name').value}),
                dataType: 'json',
                contentType: 'application/json',
                success: d => {
                    if(d.name === 'FAILURE'){
                        alert(`회원가입 실패`)
                    }else{
                        alert(`${d.name} 가입 성공`)
                    }
                },
                error: e => {
                    alert(`${e} 을 이유로 전송실패`)
                }
            })
        })
        document.getElementById('cancel-btn')
        .addEventListener('click', e => {
            alert('취소 클릭')
        })
    </script>
</body>
</html>